/* reset */
* { box-sizing: border-box; margin: 0; padding: 0; }

@font-face{font-family:'Calluna';
    src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/callunasansregular-webfont.woff') format('woff');
}

body {
    font-family: Calluna, Arial, sans-serif;
    min-height: 1000px;
    color: #333;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #419aff;
}

a:hover { color: #41ccff; }

/* header */
.header {
    background: #eee;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}
.header p {
    margin: 12px 0;
}
.header .btn-group {
    margin: 8px 0;
}

/* style for waterfall grid */
.wf-container {
    margin: 0 auto;
}
.wf-container:before,.wf-container:after {
    content: '';
    display: table;
}
.wf-container:after {
    clear: both;
}
.wf-box {

    background: #fefefe;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 8px;
    transition: opacity .4s ease-in-out;
    column-break-inside: avoid;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;

}
.wf-box img {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.wf-box .meta{
    text-align: right;
    font-style: italic;
}

.wf-column {
    float: left;
    color: #aaa;
}

.wf-container:hover > .wf-column > .wf-box {
    opacity: 0.7;
}

.wf-container:hover > .wf-column > .wf-box:hover {
    opacity: 1;
}

.wf-box:hover {
    overflow: visible;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.wf-box .item-details {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    display: inline-block;
}

.wf-box .item-details > h4 {
    color: #0a0a0a;
    text-transform: uppercase;
    font-size: 18px;
}

.wf-box .item-meta {
}

.wf-box .item-tag > a {
    color: #fd6769;
    cursor: pointer;
    text-decoration: none !important;
}

@media screen and (min-width: 768px) {
    .wf-container { width: 750px; }
}
@media screen  and (min-width: 992px) {
    .wf-container { width: 970px; }
}
@media screen and (min-width: 1200px) {
    .wf-container { width: 1170px; }
}